.note-card {
  border: 1px solid #000;
  border-radius: 25px;
  flex: 0 0 24%;
}

.note__title,
.note__text,
.note__tools {
  padding: 15px;
}

.note__text {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.note__date {
  text-align: right;
}
