.note-card {
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.8);
  border-radius: 25px;
  flex: 0 0 24%;
  background: #fff;
}

.note__title,
.note__text,
.note__tools {
  padding: 15px;
  color: #000;
}

.note__title {
  position: relative;
}

.delete-btn {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

.delete-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}

.note__text {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.note__date {
  text-align: right;
}

.note__tools {
  text-align: right;
}

.note-link,
.note-link:visited,
.note-link:focus {
  color: #000;
  text-decoration: none;
}

.note-link:hover {
  color: rgba(0, 0, 0, 0.4);
}
